body, html{
  height:100%;
}
body{
  background: url('images/dancefloor.jpg');
  background-size: 100%;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addDancerButton1, .addDancerButton2{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancer1{
  border:0px;
  border-radius:5px;
  position:absolute;
  animation-duration: 3s;
  animation-name: slidein;
}

.dancer2{
  border:0px;
  border-radius:10px;
  position:absolute;
  animation-duration: 3s;
  animation-name: infinite-spinning;
}

.newStep{
  border:10px solid green;
  border-radius:10px;
  position: absolute;
}

@keyframes slidein {
  from {
  margin-left: 100%;
  width: 50%;
}

  to {
  margin-left: 0%;
  width: 50%;

  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


